body{
    background-color: #f0f0f0;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;

}
#nav{
    font-size: 30px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ccc ;
    padding: 15px 10px;
    background-color: #fff;
    margin-bottom: 10px;
    opacity: auto;
    
}
nav a{
    text-decoration: none;
    color: #cf445f;
}
#nav-container{
    float: left;
    width: 15%;
    border-right: 1px solid #ccc;

}
.nav{
    text-transform: uppercase;
    padding-left: 10px;
}
ul{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 5px;
    width: 90%;
}
ul li a:hover{
    background-color: red;
    color: white;
}
#bd{
    padding: 10px;
 
    overflow: auto;
    margin-left: 5px;
    margin-top: 14px;
}
.quest{
    border: 1px solid black;
    font-size: 25px;
    display: inline-block;
    text-align: center;
    font-family: cursive;
    font-style: italic;
    border-width: 3px;
    width: 100%;
    background-color: #fff;
    text-decoration:solid;
}
.quest::before{
    content: '"';
}
.quest::after{
    content: '" -Nischal Shrestha';
}
#foot{
    display: inline-block;
    width: 100%;
    background-color: #000;
    color: #fff;
    margin-top: 150px;
    height: 150px;
    padding: 10px;
    text-align: center;
    opacity: auto;
}
.col1, .col2, .col3{
    display: inline-block;
    margin: 50px 150px;
}