.pic{
    border-radius: 5% 10% 20% 40%;
    /*             TL TR  BR  BL*/
    border: 2px solid red;
    height: 300px;
    width: 300px;
    display: inline-block;
    background-image: url("800x300.jpg");
    background-position: center center;
}
.cov{
    
    /*             TL TR  BR  BL*/
    border: 5px solid red;
    height: 300px;
    width: 300px;
    display: inline-block;
    background-image: url("800x300.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.con{
    
    /*             TL TR  BR  BL*/
    border: 5px solid red;
    height: 300px;
    width: 300px;
    display: inline-block;
    background-image: url("800x300.jpg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.px{
    
    /*             TL TR  BR  BL*/
    border: 5px solid red;
    height: 300px;
    width: 300px;
    display: inline-block;
    background-image: url("800x300.jpg");
    background-position: center center;
    background-size: 250px 200px;
    background-repeat: no-repeat;
}
.per{
    
    /*             TL TR  BR  BL*/
    border: 5px solid red;
    height: 300px;
    width: 300px;
    display: inline-block;
    background-image: url("800x300.jpg");
    background-position: center center;
    background-size: 90% 90%;
    background-repeat: no-repeat;
}

/*RGBA CSS*/
.rg{
    color: rgba(0, 1, 244, 0.5);
    background-color: rgba( 222,111, 0, 0.1);
}

/*HlS CSS*/
.hsl{
    background-color: hsla( 550, 50%, 50%, 0.7);
}

/*Shadow*/
.shadow{
    text-align: center;
    font-size: 50px;
    text-shadow: 5px   5px       0    yellow;
    /*          h-off v-off blur-radius color                    */
}

.box1{
    display: block;
    height: 300px;
    width: 300px;
    background-color: #ccc;
    margin: 50px auto;
    box-shadow: 10px 10px 15px #aaa;

}

.box2{
    display: block;
    height: 300px;
    width: 300px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 50px auto;
    box-shadow: inset 2cm 0 0 #000;
}

/*miniproject:card*/
.card{
    display: inline-block;
    height: 300px;
    width: 225px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    text-decoration: none;
    margin-left: 5px;
}

.card:hover{
    box-shadow: 5px 5px 0 #000;
}

.card-text{
    padding: 5px;
}

.card-title{
    font-weight: 900;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.card:hover .card-title{
    text-decoration: underline;
}

.card-content{
    font-size: 14px;
    margin-bottom: 5px;

}

/*Text Overflow*/
.text{
    width: 200px;
    border: 1px solid black;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.clip{ text-overflow: clip;}

.ellipsis{ text-overflow: ellipsis;}

/*Word Wrap*/
.word-wrap{
    width: 200px;
    border: 1px solid black;
    word-wrap: break-word;
}

/* Word Break*/
.word-break{
    width: 200px;
    border: 1px solid black;
    word-break: break-all;
}

/*Text Align Last*/
.text-left{ text-align-last: left; text-align: justify; margin-bottom: 30px;}

.text-right{ text-align-last: right; text-align: justify;  margin-bottom: 30px;}

.text-center{ text-align-last: center; text-align: justify; margin-bottom: 30px;}

.text-justify{ text-align-last: justify; text-align: justify; margin-bottom: 30px;}

/*Custom font*/
@font-face {
    font-family: Nischal;
    src: url("./fonts/Roboto.zip");
}
.font{
    font-family: Nischal;
}

/*Transition*/
.box3{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: black;
    transition: 300ms height linear,
                300ms width linear;
}
.box3:hover{
    width: 100px;
    height: 100px;
}

/*Transition Color*/
.transition-color{
    text-decoration: none;
    color: #000;
    font-size: 30px;
    transition-duration: 1.5s;
    transition-property: color;
    transition-timing-function: linear;
}
.transition-color:hover{
    color: #864acc;
}

/*Transition timing and function*/
body{
    background-color: gainsboro;
}
.parent{
    position: relative;
    height: 50px;
    background-color: #fff;
}
.child{
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: #765abc;
    transition-duration: 3s;
    transition-property: left;
    transition-timing-function: linear;
    transition-delay: 1s;
}

.parent:hover .child{
    left: calc(100% - 50px);
}